@import "color-theme";
.footer-wrapper {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);

  .link-card {
    text-align: center;
    .social-icon {
      @include themed() {
        color: t($link);
      }
    }
  }
}
