.navbar {
  $padding: 15px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: calc(100% + 10px);
  max-width: $navbar-max-width;
  overflow-x: hidden;
  padding: $padding 0;
  background: transparent;
  border: none;
  box-shadow: none;
  z-index: 100;
  border-radius: 0;
  backdrop-filter: saturate(180%) blur(8px);

  @include themed() {
    background: transparentize(t($bg), 0.2);
    color: t($text);
  }

  .navbar-brand {
    @include themed() {
      color: t($text-important);
    }
  }
}
