@import "color-theme";

$transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 4em;
$height: ($width/2);

.toggle {
  .toggle-control {
    transition: $transition;
    width: $width;
    height: $height;
    display: block;
    border-radius: $height;
    background-color: rgba(black, 0.06);
    position: relative;
    @include themed() {
      border: 1px solid t($text);
    }
    &:after {
      transition: $transition;
      content: "";
      width: $width/2;
      height: $height;
      display: block;
      @include themed() {
        background-color: t($text);
      }
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input {
    display: none;
    &:checked + .toggle-control {
      border-color: $purple;
      background-color: $purple;
      &:after {
        left: $width/2;
      }
    }
  }
}
